<div class="container">

  <!-- Add padding to create space between the navigation bar and the content -->
  <div style="padding-top: 100px;"></div>

  <!-- Title to appear on top of everything -->
  <h1 style="font-family:'Optima'; color: #081b88; font-size: 300%; text-align: center; margin-bottom: 100px;">Luisa Carrer</h1>

  <div class="row justify-content-center">

    <!-- Empty column for centering -->
    <div class="col-md-2 d-none d-md-block"></div>

    <!-- Picture column -->
    <div class="col-lg-3 col-md-4 col-12">
      <img src="Luisa_CARRER_(8).jpg" alt="Luisa Carrer" class="img-fluid" style="max-width: 100%;">
    </div>

    <!-- Text column -->
    <div class="col-lg-5 col-md-6 col-12">
      <!-- Your text and other content here -->
      <br>
      <br>
      <span style="color: #081b88;font-size:18px;font-family: 'Source Sans Pro', sans-serif"><b>Welcome to my website!</b></span>
      <br>
      <br>
      <span style="font-size:16px;font-family: 'Source Sans Pro', sans-serif">
        I am a PhD candidate at <a style="color: #081b88" href="https://www.tse-fr.eu/people/luisa-carrer" target="_blank"><u>Toulouse School of Economics</u></a> and I will be on the 2023/2024 academic job market.
        <br>
        <br>
        I am an applied economist with interests in Public and Political Economy, particularly in topics related to gender gaps and inequality.
        <br>
        <br>
        By leveraging rich data from social media, my research investigates how market and non-market forces affect policy take-up and political support for women's issues.
      </span>
    </div>

    <!-- Another empty column for centering -->
    <div class="col-md-2 d-none d-md-block"></div>

  </div>

</div>
