<div class="container">

  <!-- Add padding to create space between the navigation bar and the content -->
  <div style="padding-top: 100px;"></div>

  <!-- Title to appear on top of everything -->
  <h1 style="font-family:'Optima'; color: #081b88; font-size: 300%; text-align: center; margin-bottom: 100px;">Luisa Carrer</h1>

  <div class="row justify-content-center">
  
    <!-- Empty column that will take up 2 columns on medium or larger screens, thus centering the content -->
    <div class="col-md-2 d-none d-md-block"></div>

    <!-- For large screens, this column will take 3 columns; for medium screens, 4 columns; for smaller screens, all 12 columns -->
    <div class="col-lg-3 col-md-4 col-12">
      <img src="Luisa_CARRER_(8).jpg" alt="Luisa Carrer" class="img-fluid" style="max-width: 100%;">
    </div>

    <!-- For large screens, this column will take 5 columns; for medium screens, 6 columns; for smaller screens, all 12 columns -->
    <div class="col-lg-5 col-md-6 col-12">
      <!-- Your text and other content here -->
    </div>

    <!-- Another empty column that will take up 2 columns on medium or larger screens, thus centering the content -->
    <div class="col-md-2 d-none d-md-block"></div>

  </div>

</div>
