<div class="container">

  <!-- Add padding to create space between the navigation bar and the content -->
  <div style="padding-top: 100px;"></div>

  <!-- Title to appear on top of everything -->
  <h1 style="font-family:'Lora'; color: #081b88; font-size: 400%; text-align: center; margin-bottom: 100px;">Luisa Carrer</h1>

  <div class="row justify-content-center">

    <!-- Empty column for centering -->
    <div class="col-md-2 d-none d-md-block"></div>

    <!-- Picture column Luisa_CARRER_(8) -->
    <div class="col-lg-4 col-md-5 col-12">
      <img src="Luisa_Carrer_D 08 (6)-minmin.jpg" alt="Luisa Carrer" class="img-fluid" style="max-width: 100%;">
    </div>

    <!-- Text column -->
    <div class="col-lg-5 col-md-6 col-12">
      <!-- Your text and other content here -->
      <br>
      <span style="color: #081b88;font-size:18px;font-family: 'Source Sans Pro', sans-serif"><b>Welcome to my webpage!</b></span>
      <br>
      <br>
      <span style="font-size:16px;font-family: 'Source Sans Pro', sans-serif">
        I am a PhD candidate in Economics at the <a style="color: #081b88" href="https://www.tse-fr.eu/people/luisa-carrer" target="_blank"><u>Toulouse School of Economics</u></a> and I will be on the 2023/2024 academic job market.
        <br>
        <br>        
        You can find my CV <a style="color: #081b88" href="https://drive.google.com/file/d/1YCHajVa2H_Srx2DMKxyvM1FThWdP848C/view?usp=share_link" target="_blank"><u>here</u></a>.
        <br>
        <br>
        My research lies at the intersection of <span style="color: #081b88;">Public Economics</span> and <span style="color: #081b88;">Political Economy</span>, with a focus on <span style="color: #081b88;">gender-relevant topics</span>. I am particularly interested in studying how social norms interact with the design and implementation of government policy.
        <br>
        <br>        
        My empirical work draws upon machine learning algorithms and social media data to quantify two main effects: <span style="color: #081b88;">(1)</span> the extent to which social norms affect how legislators design gender-related policies, and <span style="color: #081b88;">(2)</span> how these norms attenuate (or exacerbate) their effects on household behavior. 
        <br>
        <br>
        Check more about my research <a style="color: #081b88" href="https://luisa-carrer.github.io/research/" target="_blank"><u>here</u></a>!
        <br>
        <br>        
        <span style="color: #081b88; font-weight: bold;">Primary Fields:</span> Public Economics, Gender Economics <br>
        <span style="color: #081b88; font-weight: bold;">Secondary Field:</span> Political Economy
      </span>
    </div>

    <!-- Another empty column for centering -->
    <div class="col-md-2 d-none d-md-block"></div>

  </div>

</div>
